* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: rgb(229, 200, 38);
}

.inactive {
  color: black;
}

.container {
  background-color: antiquewhite;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
